// BANNER
.banner__
{
    &content
    {
        &-wrap
        {
            padding-top: 20px;
        }
    }
    &main-wrap
    {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 150px 0 150px 0;
    }
    &heading
    {
        color: $primary;
        font-family: $primary-font;
        font-size: 3rem;
        letter-spacing: 0.2rem;
        span
        {
            color: $secondary;
        }
    }
    &sub-heading
    {
        color: $text;
        font-size: 18px;
        font-family: $secondary-font;
    }
    // SLIDER
    &slider
    {
        &-numbers
        {
            font-family: $primary-font;
            font-size: 25px;
            color: $primary;
            span
            {
                color: $secondary;
            }
        }
        &-arrows
        {
            cursor: pointer;
            color: $primary;
            transition: all ease-in-out 300ms;
            &:hover
            {
                color: $secondary;
            }
            &-wrap
            {
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }
        }
        &-item
        {
            background-color: $snow;
            height: 100px;
            padding: 10px;
            display: flex;
            gap: 1rem;
            cursor: pointer;
            transition: all ease-in-out 300ms;
            &:hover
            {
                background-color: $primary;
                .banner__slider
                {
                    &-item
                    {
                        &-name
                        {
                            color: $light;
                            transition: all ease-in-out 300ms;
                        }
                        &-price
                        {
                            &-old
                            {
                                color: $light;
                                transition: all ease-in-out 300ms;
                            }
                        }
                        &-fave
                        {
                            color: $light;
                            &:hover
                            {
                                color: $secondary;
                            }
                        }
                    }
                }
            }
            img
            {
                height: 100%;
                object-fit: cover;
            }
            &-name
            {
                text-transform: uppercase;
                color: $primary;
                font-family: $secondary-font;
                font-size: 0.8rem;
                font-weight: 900;
            }
            &-price
            {
                &-old
                {
                    color: $text;
                    font-family: $secondary-font;
                    font-size: 0.8rem;
                    font-weight: 900;
                    position: relative;
                    display: inline;
                    &::before
                    {
                        content: '';
                        width: 100%;
                        height: 3px;
                        position: absolute;
                        bottom: 50%;
                        color: $secondary;
                        background-color: $secondary;
                    }
                }
                &-new
                {
                    color: $secondary;
                    font-size: 1rem;
                    font-weight: 900;
                    font-family: $secondary-font;
                }
            }
            &-desc
            {
                &-wrap
                {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
            &-info
            {
                &-wrap
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }
            &-fave
            {
                color: $text;
                font-size: 0.8rem;
                transition: all ease-in-out 300ms;
                cursor: pointer;
                &:hover
                {
                    color: $secondary;
                }
            }
            &-wrap
            {
                display: flex!important;
                justify-content: center;
                &.slick-current
                {
                    .banner__slider-item
                    {
                        background-color: $primary;
                        &-name
                        {
                            color: $light;
                            transition: all ease-in-out 300ms;
                        }
                        &-price
                        {
                            &-old
                            {
                                color: $light;
                                transition: all ease-in-out 300ms;
                            }
                        }
                        &-fave
                        {
                            color: $light;
                            &:hover
                            {
                                color: $secondary;
                            }
                        }
                    }
                }
            }
            &-main
            {
                width: 95%;
            }
        }

        // RIGHT
        &-product
        {
            &-main
            {
                &-wrap
                {
                    height: 100%;
                    background-color: $snow;
                    padding: 20px;
                }
            }
            &-inner
            {
                &-wrap
                {
                    height: 100%;
                }
            }
            &-slick
            {
                height: 100%;
                .slick-list,
                .slick-track
                {
                    height: 100%;
                }
                &-main
                {
                    position: relative;
                    &:hover
                    {
                        img 
                        {
                            transform: scale(1);
                        }
                    }
                }
            }
            &-wrap
            {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                img
                {
                    height: 100%;
                    transform: scale(0.8);
                    transition: all ease-in-out 300ms;
                    width: 70%;
                    object-fit: cover;
                }
            }
            &-info
            {
                &-wrap
                {
                    position: absolute;
                    bottom: 0px;
                    right: 0px;

                    .product-name
                    {
                        font-size: 1.5rem;
                        font-family: $secondary-font;
                        font-weight: 900;
                        text-transform: uppercase;
                        color: $primary;
                        // letter-spacing: 0.2rem;
                        transition: all ease-in-out 300ms;
                        &:hover
                        {
                            color: $secondary;
                        }
                    }
                    .product-actions-wrap
                    {
                        gap: 0.5rem;
                    }
                    .product-price
                    {
                        font-size: 1rem;
                        font-family: $primary-font;
                        color: $secondary;
                        margin-right: 2rem;
                    }
                }
            }
            &-overlay
            {
                position: absolute;
                font-size: 3.5rem;
                font-family: $secondary-font;
                color: $primary;
                font-weight: 900;
                width: 100%;
                opacity: 0.03;
                top: 0;
                left: 0;
                z-index: 2;
                line-height: 1em;
            }
        }
    }
}


// CUSTOMERS
.customers
{
    &-main-wrap
    {
        padding: 0;
        width: 100%;
        margin-bottom: 5rem;
    }
    &-wrap
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-count
    {
        &-wrap
        {
            &:last-child
            {
                .customers-wrap
                {
                    border: none;
                }
            }
            .customers-wrap
            {
                border-right: 1px solid $gray;
            }
        }
        color: $secondary;
        font-size: 2rem;
        font-family: $primary-font;
        display: flex;
        align-items: center;
        gap: 14px;
        letter-spacing: 0.2rem;
        span
        {
            color: $primary;
            font-family: $secondary-font;
            font-weight: 900;
            font-size: 1.1rem;
            letter-spacing: normal;
        }
    }
}


// COLLECTIONS
.collections__
{
    &main
    {
        &-wrap
        {
            padding: 50px 0;
        }
    }
    &heading
    {
        &-wrap
        {
            margin-bottom: 3rem;
        }
        font-size: 3.3rem;
        font-family: $primary-font;
        color: $primary;
        letter-spacing: 0.2rem;
        span
        {
            color: $secondary;
        }
    }
    &cat
    {
        &-wrap
        {
            margin-bottom: 3rem;
        }
        color: $primary;
        font-family: $secondary-font;
        font-size: 1.3rem;
        font-weight: 900;
        transition: all ease-in-out 300ms;
        padding: 5px;
        position: relative;
        white-space: nowrap;
        &:hover, &.active
        {
            color: $secondary;
            // &:after {
            //     --deco-height: 0.3125em;
            //     content: "";
            //     position: absolute;
            //     left: 0;
            //     right: 0;
            //     bottom: calc(var(--deco-height) * -0.625);
            //     height: var(--deco-height);
            //     background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            //     background-size: auto 100%;
            //     background-repeat: round;
            //     background-position: 0em;
            //     transition: all ease-in-out 300ms;
            // }
        }
    }
    &item
    {
        position: relative;
        margin-bottom: 1rem;
        background-color: $snow;
        overflow: hidden;
        display: flex;
        justify-content: center;
        &>a 
        {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img
        {
            transform: scale(0.7);
            transition: all linear 300ms;
        }
        &-name
        {
            font-family: $secondary-font;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 1.2rem;
            color: $primary;
        }
        &-actions
        {
            &-wrap
            {
                opacity: 0;
                transition: all ease-in-out 300ms;
                .buy-btn
                {
                    position: absolute;
                    top: -40px;
                    left: 20px;
                }
                .cart-fav-btn
                {
                    position: absolute;
                    top: 20px;
                    right: -40px;
                    display: inline-grid;
                    transition: all ease-in-out 300ms;
                    a {
                        color: $light;
                        background-color: $primary;
                        padding: 10px;
                        margin-bottom: 10px;
                        transition: all ease-in-out 300ms;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:hover
                        {
                            background-color: $secondary;
                        }
                    }
                }
            }
        }
        &-wrap
        {
            margin-bottom: 2rem;
            &:hover
            {
                .collections__item-actions-wrap
                {
                    display: flex;
                    opacity: 1;
                }
                .collections__item-name
                {
                    color: $secondary;
                    transition: all ease-in-out 300ms;
                }
                .collections__item img
                {
                    transform: scale(0.9);
                }
                .buy-btn
                {
                    top: 20px;
                }
                .cart-fav-btn
                {
                    right: 20px;
                }

            }
        }
        &-price
        {
            font-size: 1.8rem;
            font-weight: 900;
            font-family: $secondary-font;
            &.old-price
            {
                color: $secondary;
                font-size: 1.3rem;
                position: relative;
                &::before
                {
                    content: '';
                    width: 100%;
                    height: 4px;
                    position: absolute;
                    bottom: 50%;
                    transform: translateY(50%);
                    background-color: $text;
                }
            }
            &-wrap
            {
                display: flex;
                align-items: center;
                gap: 10px;
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}


// FEATURED PRODUCTS
.feat__
{
    &main
    {
        &-wrap
        {
            padding: 50px 0;
            background-color: $snow;
        }
    }
    &heading
    {
        &-wrap
        {
            margin-bottom: 3rem;
        }
        font-size: 3.3rem;
        font-family: $primary-font;
        color: $primary;
        letter-spacing: 0.2rem;
        span
        {
            color: $secondary;
        }
    }
    &item
    {
        &-mid
        {
            &-wrap
            {
                padding: 20px;
                background-color: $light;
                transition: all ease-in-out 300ms;
                display: none;
                &.active
                {
                    display: block;
                }
            }
            &-img
            {
                width: 50%;
                height: 100%;
                object-fit: cover;
                transition: all ease-in-out 300ms;
                transform: scale(1.3);
                &-wrap
                {
                    width: 100%;
                    height: 310px;
                    overflow: hidden;
                    background-color: $snow;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 1rem;
                }
            }
            &-info
            {
                &-name
                {
                    font-family: $secondary-font;
                    color: $secondary;
                    font-size: 1.5rem;
                    font-weight: 900;
                    text-transform: uppercase;
                    // letter-spacing: 0.1rem;
                }
                &-price
                {
                    font-size: 1.3rem;
                    font-family: $secondary-font;
                    color: $primary;
                    // letter-spacing: 0.1rem;
                }
                &-desc
                {
                    color: $text;
                    font-family: $secondary-font;
                    font-weight: 500;
                    margin-bottom: 1.2rem;
                }
                &-var
                {
                    &-wrap
                    {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                    }
                    &-size
                    {
                        &-wrap
                        {
                            display: flex;
                            gap: 5px;
                        }
                        &.active, &:hover
                        {
                            background-color: $gray;
                            color: $light;
                        }
                        font-size: 1rem;
                        font-family: $secondary-font;
                        background-color: $snow;
                        height: 30px;
                        width: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: all ease-in-out 300ms;
                        cursor: pointer;
                    }
                    &-col
                    {
                        &-wrap
                        {
                            display: flex;
                            gap: 5px;
                        }
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 30px;
                        width: 30px;
                        background-color: $secondary;
                        border-radius: 100px;
                        transition: all ease-in-out 300ms;
                        cursor: pointer;
                        border: 1px solid $primary;
                        &-inner
                        {
                            &-wrap
                            {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 30px;
                                width: 30px;
                                &.active, &:hover
                                {
                                    background-color: $gray;
                                    border-radius: 100px;

                                    .feat__item-mid-info-var-col
                                    {
                                        height: 25px;
                                        width: 25px;
                                        border: none;
                                    }

                                }
                            }
                        }
                    }
                }
                &-btn
                {
                    padding: 4px 12px;
                    color: $light;
                    font-size: 16px;
                    font-family: $secondary-font;
                    font-weight: 900;
                    transition: all ease-in-out 300ms;
                    &-wrap
                    {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }
                    &.buy-btn
                    {
                        background-color: $secondary;
                        &:hover
                        {
                            background-color: $gray;
                        }
                    }
                    &.cart-btn
                    {
                        background-color: $primary;
                        &:hover
                        {
                            background-color: $gray;
                        }
                    }
                }
            }
        }
        &-wrap
        {
            padding: 20px;
            background-color: $light;
            transition: all ease-in-out 300ms;
            cursor: pointer;
            // ACTIVE STATE
            &.active, &:hover
            {
                background-color: $primary;
                .feat__item-info-name
                {
                    color: $light;
                }
                .cart-btn
                {
                    background-color: $light;
                    color: $primary;
                    &:hover
                    {
                        color: $light;
                    }
                }
                .buy-btn
                {
                    &:hover
                    {
                        background-color: $light;
                        color: $primary;
                    }
                }
                .feat__item-img
                {
                    transform: scale(1);
                }
            }

        }
        &-img
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all ease-in-out 300ms;
            transform: scale(0.5);
            &-wrap
            {
                width: 100%;
                height: 150px;
                overflow: hidden;
                background-color: $snow;
                display: flex;
                justify-content: center;
                align-items: center;
                a
                {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    background-color: $snow;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        &-info
        {
            &-wrap
            {
                margin-top: 0.5rem;
            }
            &-name
            {
                color: $primary;
                font-family: $secondary-font;
                font-weight: 900;
                text-transform: uppercase;
                font-size: 1rem;
                text-align: center;
                margin-bottom: 0.5rem;
                transition: all ease-in-out 300ms;
                // &:hover
                // {
                //     color: $secondary;
                // }
            }
            &-btn
            {
                padding: 2px 10px;
                font-family: $secondary-font;
                color: $light;
                font-weight: 700;
                font-size: 0.8rem;
                transition: all ease-in-out 300ms;
                &-wrap
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                }
                &.buy-btn
                {
                    background-color: $secondary;
                    &:hover
                    {
                        background-color: $primary;
                    }
                }
                &.cart-btn
                {
                    background-color: $primary;
                    &:hover
                    {
                        background-color: $secondary;
                    }
                }
            }
        }
    }
}

// NEWSLETTER
.news__
{
    &main
    {
        &-wrap
        {
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6) 0%), url('/assets/newsletter-bg.png');
            background-position: center center;
            background-size: cover;
            height: 500px;
        }
    }
    &content
    {
        &-wrap
        {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
        &-heading
        {
            color: $light;
            font-size: 2.5rem;
            font-family: $primary-font;
            letter-spacing: 0.2rem;

            span
            {
                color: $secondary;
            }
        }
        &-subheading
        {
            color: $light;
            font-family: $secondary-font;
            font-size: 1.1rem;
        }
        &-input
        {
            height: 45px;
            width: 80%;
            display: flex;
            background-color: unset;
            border: none;
            margin-left: 20px;
            font-size: 1.1rem;
            font-family: $secondary-font;
            &::placeholder
            {
                color: $gray;
            }
            &:focus
            {
                border: none;
                outline: none;
            }
            &-main
            {
                &-wrap
                {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            &-wrap
            {
                height: 50px;
                width: 80%;
                background-color: $light;
                border-radius: 50px;
                display: flex;
                align-items: center;
                position: relative;
                margin-top: 2rem;
            }
            &-btn
            {
                background-color: $secondary;
                color: $light;
                font-family: $primary-font;
                padding: 10px 20px;
                border-radius: 50px;
                position: absolute;
                right: 5px;
                top: 50%;
                transform: translateY(-50%);
                transition: all ease-in-out 300ms;
                &:hover
                {
                    background-color: $primary;
                }
            }
        }
    }
}